# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/out
/.firebase

# misc
.idea
.vscode
.swc
.temp
.rn_temp
.DS_Store
*.pem

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
*.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
